.hostForChart{
    height: 30vh !important;
    width: 30vw !important;
    background-color: white;
}
.hostForChart__expand{
    height: 70vh !important;
    width: 90vw !important;
}
.chart_container .slider_container{
     margin-top: 0px;
     height: 5vh;
}
.chart_header{
    width: 100%;
    height: 5vh;
    background-color:  cadetblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 20;
    margin-bottom: 0.1vw;
  }

  .chart_header_resultFor{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .chart_header_resultFor_string{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
