.countryStatistic_container__prime{
    width:200px;
    height: 100%;
}
.countryStatistic_container__prime .statistic_container{
    width: 100%;
    height: 100%;
}
.countryStatistic_container__prime .statistic_list{
    height: 100%;
}