.countryStatistic_container__prime{
    width: 17vw;
    height: 90vh;
}
.countryStatistic_container__prime .statistic_container{
    width: 100%;
    height: 88vh;
}
.countryStatistic_container__prime .statistic_list{
    height: 81vh;
}
