footer{
    height          : 30px;
    width           : 100%;
    padding         : 0.1vh;
    background-color: cadetblue;
    display         : flex;
    align-items     : center;
    margin-top   : 10px;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    padding-left    : 0.5em;
    padding-right   : 0.5em;
}
.footer_img{
    margin-top: 2px;
    height: 20px;
    width: 45px;
}