.mapChartStatistic_container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 820px;
    justify-content: flex-start;
    margin-left: 20px;
}
.сountryStatisticСell, .statisticTableСell, .worldMapСell, .chartClassСell{
    display: flex;
}
.сountryStatisticСell{
    width: 220px;
    height: 100%;
}

.worldMapСell{
    width: 100%;
    height: 370px;
    margin-bottom: 10px;
    display: flex;
    /* flex-direction: column; */
    
}
.chartClassСell{
    width: 60%;
    height: 330px;
}
.statisticTableСell{
    width: 40%;
    height: 330px;
}

@media (max-width: 1024px) and (min-width: 500px) {
    .mapChartStatistic_container{
        width: 100%;
        flex-direction: column;
        margin-left: 10px
    }
    .statisticTableСell{
        width: 100%;
        height: 200px;
    }
    .сountryStatisticСell{
        width: 100%;
        height:530px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .сountryStatisticСell .statistic_container__prime{
        height: 100%;
    }
    .statistic_container__prime {
        height: 190px;}
    .chart_container, .countryStatistic_container__prime, .chartClassСell{
        width: 100%;
    }

}