.mapChartStatistic_container{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
}
.сountryStatisticСell, .statisticTableСell, .worldMapСell, .chartClassСell{
    display: flex;
}
.сountryStatisticСell{
    width: 18.8vw;
}

.worldMapСell{
height: 40vh;
}
