.slider_container {
  width: 100%;
  height: 5vh;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  z-index: 20;
}
.slider_leftArrow, .slider_rightArrow{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider_nameOfItem{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}