.statistic_container__prime {
  width: 27.2vw;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statistic_container {
  background-color: cornflowerblue;/*потом убрать мб*/
  width: 9vw;
  height: 19vh;
  display: flex;
  flex-direction: column;
}
.statistic_header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: cadetblue;/*потом убрать мб*/
  height: 7vh;
  width: 100%;
}
.statistic_list{
  background-color: aquamarine;/*потом убрать мб*/
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.statisticTable_cases, .statisticTable_deaths, .statisticTable_recovered{
    height: 3em;
}
.countryStatistic_demo_item__chosen{
  background-color: darkgreen;
}
.statisticTable_header{
  width: 100%;
  height: 5vh;
  background-color:  cadetblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 20;
  margin-bottom: 0.1vw;
}