.demo_item{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* min-height: 3em;*/
    background-color: chartreuse;
    border-top: 2px solid white;
}
.statistic_list{
    background-color: aquamarine;/*потом убрать мб*/
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: auto;
  }
  .statistic_list::-webkit-scrollbar  {
    width: 7px;
    background-color: #f9f9fd;
}


.statistic_list::-webkit-scrollbar-thumb {
    background-color: #223c50;
}