.statistic_container__prime {
  width:100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statistic_container {
  background-color: cornflowerblue;/*потом убрать мб*/
  width:33%;
  height: 120px;
  display: flex;
  flex-direction: column;
}
.statistic_header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: cadetblue;/*потом убрать мб*/
  height: 40px;
  width: 100%;
}
.statistic_list{
  background-color: aquamarine;/*потом убрать мб*/
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.statisticTable_cases, .statisticTable_deaths, .statisticTable_recovered{
    height: 3em;
}
.countryStatistic_demo_item__chosen{
  background-color: rgb(197, 194, 0);
  color: white;
}
.statisticTable_header{
  width: 100%;
  height: 40px;
  background-color:  cadetblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 20;
  margin-bottom: 0.1vw;
}
.button_showWorldResult{
  height: 100%;
  width: 30%;
  padding-left: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(107, 179, 182), cadetblue);
  margin-right: 30px;
}
.button_showWorldResult:hover{
  background: linear-gradient(to right, rgb(132, 202, 204), cadetblue);
  cursor: pointer;
}
.statisticTable_header_resultFor{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statisticTable_header_resultFor_string{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button_showWorldResult__hidden{
  visibility: hidden;
  width: 0px;
}