*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

html {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 {
  font-size: 1.8em;
  line-height: 1.85em;
  font-weight: 600;
  letter-spacing: 0.1em;
}
h3 {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 600;
}
h3 {
  font-size: 1.1em;
  line-height: 1.15em;
  font-weight: 600;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #222222;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.005em;
}
a:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
.wraper{
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
}
.mainContent_container{
  display: flex;
  width: 100%;
}

@import "./statisticTable";

/*

header{
    height: 8%;
    padding: 0.5%;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    margin: 0.5% 0;
}

.casesStatistics_container{
    display: flex;
    flex-direction: column;
    width: 18vw;
}

.globalCases_container{
    height: 80px;
    width: 100%;
    margin-bottom: 0.5%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.groupingTypeOfCases_slider_innerContent, .recoveredDeaths_slider_innerContent, .testsAndRatio_slider_innerContent{
    display: flex;
    width: 18vw;
    overflow: hidden;
}
.groupingTypeOfCases_container {
    display: flex;
    flex-direction: column;
    min-width: 18vw;
}

.slider_arrowsContainer{
    padding: 5%;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 4.5em;
    border-top: 2px solid white;
}
.groupingTypeOfCases_slider__arrowsContainer_nameOfSlide{
    width: 60%;
}
.statistics_item{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3em;
    background-color: chartreuse;
    border-top: 2px solid white;
}





.recoveredDeathsTestsSchedule_container{
    display: flex;
    flex-direction: column;
    width: 36.2vw;
    justify-content: space-between;
    background-color: aquamarine;
}

.statistics_title{
    padding: 5%;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 5em;
    border-top: 2px solid white;
}

.recovered_container, .deaths_container, .tests_container, .recoveredDeathsRatio_container{
    min-width: 18vw;
}
.recoveredDeaths_container .testsAndRatio_container{
    width: 18vw;
}
.recoveredDeathsRatio_number{
    text-align: center;
    font-size: 1.3em;
    line-height:1.2em;
    letter-spacing: 0.005em;
}*/
