*,
*:before,
*:after {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color          : black;
}

html {
  font-family: "Arial", sans-serif;
  font-size  : 15px;
  font-style : normal;
  font-weight: 400;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size  : 1.2em;
  line-height: 1.25em;
  font-weight: 600;
}

h3 {
  font-size  : 1.1em;
  line-height: 1.15em;
  font-weight: 600;
}

h3 {
  font-size  : 1.1em;
  line-height: 1.15em;
  font-weight: 600;
}

ul,
li {
  display: block;
  padding: 0;
  margin : 0;
}

a {
  text-decoration: none;
  color          : #222222;
  font-family    : "Arial", sans-serif;
  font-size      : 15px;
  line-height    : 24px;
  letter-spacing : 0.005em;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.wrapper {
  background-color: rgb(248, 255, 253);
  display       : flex;
  flex-direction: column;
  width         :  1024px;
  height         : 768px;
  margin        : 0 auto;
}

.mainContent_container {
  display        : flex;
  justify-content: space-between;
  width          :100%;
  height         : 710px;
  margin: 0 auto;

}
.hidden{overflow: hidden;}

@media (max-width: 1024px) and (min-width: 500px) {
  header{
    height: 80px;
    line-height: 30px;
  }

  .wrapper {
    width: 500px;
    height         : 1600px;
  }

  .mainContent_container {
    width: 500px;
    height         : 1500px;
    flex-direction: column
  }
}


@import "./statisticTable";
@import "./StatisticItem";
@import "./countryStatistic";
@import "./slider";
@import "./header";
@import "./worldMap.css";
@import "./chart.css";
@import "./mainGrid.css";
@import "./deployerClass.css";
@import "./searchBar.css";
@import "./footer.css";
